body {
    max-width: 1920px;
    margin: auto;
}

.content-container {
    margin: 35px;
}

/* Button Colours.
-------------------------------------------------- */

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #1879C0;
    border-color: #1776BB;
}

.btn-secondary {
    color: #fff;
    background-color: #1B84D1;
    border-color: #1B84D1;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #1879C0;
    border-color: #1879C0;
}

.btn-primary {
    color: #fff;
    background-color: #1B84D1;
    background-color: #1B84D1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1879C0;
    border-color: #1879C0;
}

/* Below is the styling for desktop.
-------------------------------------------------- */

@media screen and (min-width: 992px) {
    .content-container {
        margin: 50px;
    }
    
}