.content-container {
    margin: auto;
    max-width: 1920px;
}

/* Button Colours.
-------------------------------------------------- */

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #1879C0;
    border-color: #1776BB;
}

.btn-secondary {
    color: #fff;
    background-color: #1B84D1;
    border-color: #1B84D1;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #1879C0;
    border-color: #1879C0;
}

.btn-primary {
    color: #fff!important;
    background-color: #1B84D1;
    background-color: #1B84D1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1879C0;
    border-color: #1879C0;
}

.checkmate-button {
    background-color: transparent;
    border: 0px;
    width: 40px;
    height: 40px;
}

.checkmate-button:focus, .checkmate-button:hover {
    outline: 0;
    border: 0px;
    background-color: $navbar-button-hover;
    border-radius: 50%;
}

/* Scroll Bar
-------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}