.page-infobox-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    padding: 10px;
}

.page-infobox-container h1 {
    margin: 0px;
}

.page-infobox-list {
    max-height: 200px;
    overflow: auto;
}

.page-title-icon {
    width: 32px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0.5rem;
}

.page-title-button {
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
}

.page-title-badge {
    margin-top: 15px;
    margin-left: 10px;
}

.page-title-text {
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
}

.page-title-button-image {
    width: 20px;
}

@media (min-width: 768px) {
    .page-title-button {
        float: right;
    }
    .page-title-icon {
        float: right;
    }
    .page-title-badge {
        float: right;
    }
    .page-title-text {
        float: right;
    }
    .page-infobox-container h1 {
        margin-bottom: 0.5rem;
    }
}