#submission-container > h1 {
    padding: 10px;
}

#submission-header-row {
    display: none;
}

#submission-header-row-mobile {
    display: table-row;
}

@media screen and (min-width: 600px) {
    #submission-header-row {
        display: table-row;
    }
    
    #submission-header-row-mobile {
        display: none;
    }
}