.top-menu-button {
    float: right;
    margin-right: 10px;
}

.breadcrumb-container {
    padding: 10px;
    display: inline-block;
}

.top-menu-container {
    position: relative;
}

.top-menu-dropdown {
    max-width: 200px;
    width: 200px;
    border-radius: 0%;
    margin-top: 42px;
}