.list-card-container {
    display: inline-block;
    width: 18rem;
    margin-right: 20px;
    margin-bottom: 20px;
}
.list-card-text {
    min-height: 75px;
    max-height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-card-permission-icon {
    width: 32px;
    float: right;
}