.list-container {
    margin-bottom: 10px;
}

.list-card-container {
    box-shadow: 0px 1px 10px #888888;
}

.list-card-container h5 {
    margin: 0px;
}

.list-card-text {
    max-height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.list-card-info-container {
    margin: 5px 0px;
}

.list-card-info-container > img {
    width: 30px;
    display: inline-block;
}

.list-card-info-container > p {
    display: inline-block;
}

.list-card-info-container > div {
    display: inline-block;
}

.list-card-due-today {
    color: red;
    font-weight: bolder;
}

.list-card-info-element {
    margin-right: 10px;
}

.list-card-number-of-courseworks {
    position: relative;
}

.list-card-number-of-courseworks > p {
    position: absolute;
    top: 5px;
    left: 30px;
}

.list-card-number-of-courseworks > p:hover {
    cursor: default;
}