.list-title-container {
    margin-bottom: 10px;
}

.list-title-container h1 {
    display: inline-flex;
    margin: 0px;
}

.list-title-container > div > div {
    margin-bottom: 0.5rem;
}

.list-title-button-group {
    width: 200px;
    display: inline-flex;
    vertical-align: top;
    margin: 3px;
}