.work-title-container {
    padding: 0px;
    margin-bottom: 0.5rem;
    position: relative;
}

.work-title-icon {
    width: 32px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}

.work-title-button {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}