// Main
// -------------------
html {
    height: 100%;
}
body {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
#viewer-form {
    height: calc(100% - 100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.viewer-main-container {
    display: flex;
    height: calc(100% - 140px);
}
@media screen and (min-width: 600px) {
    .viewer-main-container {
        height: calc(100% - 60px);
    }
}
.padding-10 {
    padding: 10px;
}
// -------------------
// End Of Main


// Viewer Menu Bar
// -------------------
.viewer-menu-bar {
    padding: 10px 0px;
    padding-left: 10px;
    background-color: white;
    border-bottom: 1px solid #888888;
}
.viewer-menu-bar p {
    margin: 0px;
}
// -------------------
// End Of Viewer Menu Bar


// Viewer Left Container
// -------------------
#viewer-left-container {
    display: flex;
    background-color: white;
    border-right: 1px solid #888888;
}
#viewer-left-container-main {
    display: none;
    width: 100%;
    overflow: auto;
}
#viewer-left-container-menu img {
    width: 15px;
    cursor: pointer;
}
#viewer-left-container-menu button {
    width: auto!important;
    height: auto!important;
    margin: 5px 2px;
}
.left-files-container {
    max-height: 400px;
    overflow: auto;
}
.main-feedback-container {
    min-height: 100px;
    max-height: 250px;
}
.comment-container > td {
    padding-bottom: 10px;
}
.comment-input-container {
    width: 100%;
}
.comment-container p {
    margin: 6px;
}
.comment-container button {
    height: 28px;
    min-height: 28px;
    width: 28px;
    min-width: 28px;
    margin: 4px;
    padding: 0px;
    margin-top: 35px;
}
.comment-container img {
    height: 20px;
}
@media screen and (min-width: 600px) {
    #viewer-left-container {
        width: 360px!important;
        min-width: 360px!important;
    }
    #viewer-left-container-main {
        display: block!important;
    }
    #viewer-left-container-menu {
        display: none;
    }
}
// -------------------
// End Of Viewer Left Container


// Viewer Row
// -------------------
.viewer-row {
    display: flex;
    white-space: nowrap;
}
.viewer-row:nth-child(odd) { 
    background: #f8f8f8;
}
.viewer-row pre {
    margin: 0px;
    font-size: 100%;
    color: black;
}
// On row hover, show comment icon.
.viewer-row-hover:hover .viewer-number-container img {
    opacity: 0.5;
}
.viewer-row-hover:hover {
    opacity: 0.5;
    cursor: pointer;
}
// -------------------
// End Of Viewer Row


// Viewer Number container
// -------------------
.viewer-number-container {
    padding: 0px 10px 0px 5px;
}
.viewer-number-container img {
    height: 15px;
    opacity: 0;
    padding-left: 5px;
}
// -------------------
// End Of Viewer Number container


// Viewer Right container
// -------------------
.viewer-line-container {
    padding-right: 50px;
}
.viewer-code-container {
    height: 100%;
}
.viewer-right-container {
    width: 100%;
    background-color: white;
    overflow: auto;
}
@media screen and (min-width: 600px) {
    .viewer-right-container {
        width: calc(100% - 360px);
    }
}
// -------------------
// End Of Viewer Right container

// Viewer Text Highlighting
// -------------------
.hljs {
    display: inherit!important;
    overflow-x: inherit!important;
    padding: inherit!important;
    background: inherit!important;
}
// -------------------
// End Of Viewer Text Highlighting